<h2>New author >></h2>

<!-- POst method to match the routes/authors.js Create New Author post method -->
<form action="/authors" method="post">
  <%- include('_form_fields') %>
  <a href="/authors">Cancel</a>
  <button type="submit">Create</button>
</form>